pandas
plotly
streamlit
yfinance
pandas-datareader
prophet
datetime
PyDictionary
nltk
urllib3
PyPDF2
numpy
mplcursors
openpyxl
matplotlib
statsmodels
python-docx
pyttsx3
gTTS
requests
llama_index
xlrd
google.cloud
moviepy==1.0.3
imageio-ffmpeg
Pillow
